<style>
@keyframes blurFade {
    0% {
        filter: blur(0) brightness(100%);
    }
    100% {
        filter: blur(5px) brightness(50%);
    }
}
body
{
    overflow-x: hidden;
}

#popup-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
            z-index: 2; /* Coloca o container acima dos outros elementos */
        }

        #popup {
            background-color: var(--branco);
            padding: 20px;
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
			border-radius: 25px;
			width: 300px;
        }
		/*ChamadoPorBotao popup*/
	.popup-containerChamadoPorBotao {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 3; /* Coloca o container acima dos outros elementos */
}

	.popupChamadoPorBotao {
		display: flex;
		flex-direction: column;
		gap: 10px;
		background-color: var(--branco);
		padding: 20px;
		border-radius: 25px;
		width: 300px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
		.cabecalhoPopup
		{
			display: flex;
            align-items: center;
		}
		
		.botoes {
			display: flex;
			gap: 10px;
		}
		
		.btnAlterarPopUp
		{
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			background: var(--azulGradiente);
			border: none;
			color: var(--branco);
			width: 100%;
			height: 40px;
			border-radius: 25px;
		}
		
		.btnAlterarPopUp:hover
		{
			background: var(--azulEscuroGradiente);
		}
		
		.btnAlterarPopUp input[type="file"] {
            display: none;
        }
		
		.btnExcluirPopUp
		{
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			background: var(--vermelhoGradiente);
			border: none;
			color: var(--branco);
			width: 100%;
			height: 40px;
			border-radius: 25px;
		}
		
		.btnExcluirPopUp:hover
		{
			background: var(--vermelhoEscuroGradiente);
		}
		
		.btnCancelarPopUp
		{
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			background: none;
			border: none;
			color: var(--cor4Escuro);
			width: 100%;
			height: 40px;
			border-radius: 25px;
		}
		
		.btnCancelarPopUp:hover
		{
			background: var(--cinzaMaisClaro);
		}
		
		.h2CarregandoImgPerfil
		{
			margin-bottom: 20px;
			margin-right: 25px;
		}
		
		.gifCarregandoImgPerfil
		{
			width: 15%;
			margin-top: -10px;
			margin: 0;
		}
		
		.fotoPerfilEdit
		{
			display: flex;
			flex-direction: column;
			justify-content: left;
		}
		#popup-containerImgPerfilEdit
		{
			z-index: 1;
		}
		#popup-containerExcluirImgPerfil
		{
			z-index: 2;
		}
		.btnSeguir{
            width: 180px; 
            height: 60px; 
            top: -210px;
            left: 1000px;
            padding-left: 20px; 
            padding-right: 20px; 
            border-radius: 25px; 
            overflow: hidden; 
            border: 2px var(--cor4Escuro) solid; 
            justify-content: center; 
            align-items: center; 
            gap: 10px; 
            display: inline-flex;
            color: var(--cor4Escuro);
            font-size: 20px;
            font-family: Armata;
            font-weight: 400;
            text-transform: uppercase;
            word-wrap: break-word;
            position: relative;
			background-color: var(--branco);
        }
		.btnDeixarDeSeguir{
            width: 180px; 
            height: 60px; 
            top: -210px;
            left: 1000px;
            padding-left: 20px; 
            padding-right: 20px; 
            border-radius: 25px; 
            overflow: hidden; 
            border: 2px var(--cor4Escuro) solid; 
            justify-content: center; 
            align-items: center; 
            gap: 10px; 
            display: inline-flex;
            color: var(--branco);
            font-size: 20px;
            font-family: Armata;
            font-weight: 400;
            text-transform: uppercase;
            word-wrap: break-word;
            position: relative;
			background-color: var(--cor4Escuro);
        }
.row
{
	width: 99%;
}
.divDivisor {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}


.base-image, .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image-container{
    position: relative;
	width: 100%;
    height: max-content;
    display: flex;
    justify-content: center; /* Opcional: centraliza horizontalmente */
    align-items: center; /* Opcional: centraliza verticalmente */
    overflow: hidden; /* Garantir que nada exceda a borda do contêiner */
}

.Banner {
    width: 100%;
}

.imgPerfil {
	position: absolute;
    will-change: transform; 
    z-index: 2; 
    margin-top: -50px; 
    margin-left: 70px; 
    transform: translate3d(0, -25%, 0); 
    border: 3px solid var(--branco); 
    box-shadow: var(--sombra);
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    object-fit: cover;
	background-color: var(--cinza);
}
.nomeUsuario
{
    margin-left: 300px;
    margin-top: 40px;
    color: var(--cor4Escuro);
    font-family: Armata;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.NumInscritos
{
    font-family: Armata;
}
.NumObras
{
    position: relative; 
    font-family: Armata;
    margin-left: 20px;
    left: 100px;
}
.containerObras
{
	margin-bottom: 70px;
}
.lblObras
{
    color: var(--cor4Escuro);
    font-size: 48px;
    font-family: Armata;
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word;
 
}
.statsUser
{
      margin-left: 300px;
      margin-top: 10px;
      display: flex;
}
.containerFlex
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 200px;
}
.filtro
{
    width: 60px;
    height: 40px;
    padding-left: 20px; 
    padding-right: 20px; 
    background: var(--cor4Escuro); 
    border-radius: 10px; 
    justify-content: center; 
    align-items: center; 
    gap: 13px; 
    display: inline-flex;
    color: var(--branco);
    border: none;
    cursor: pointer; 
    outline: none; 
}
/*Dropbox*/
   
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: var(--branco);
            min-width: 160px;
            box-shadow: var(--sombra);
            z-index: 1;
        }

        .dropdown-content a {
            color: var(--cor4Escuro);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: var(--cinzaMaisClaro);
        }
    
</style>