<style>
body {
    padding-bottom: 200px;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -200px; /* Isto deve ser igual à altura total do seu rodapé */
}

.conteudo {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 0;
}

.inicio {
    text-align: left;
    justify-content: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.litsHoriz {
    display: flex;          /* Isso garante que as divs filhas estejam lado a lado */
    overflow-y: hidden; 
    overflow-x: scroll;
	padding: 10px 0;
	gap: 10px;
}

@media screen and (max-width: 900px) {
    .conteudo {
        width: 90%;
    }
}
</style>
