<style>
@keyframes blurFade {
    0% {
        filter: blur(0) brightness(100%);
    }
    100% {
        filter: blur(5px) brightness(50%);
    }
}

.cardLivro {
    position: relative;
    flex: 0 0 auto;
    width: 200px;
    height: 300px;
    margin-right: 10px;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden; /* Impede que o texto ultrapasse a div */
    box-shadow: var(--sombra);
    border-radius: 5px;
}

.divDivisor {
    flex-shrink: 0; /* Garante que as divs não encolham, mesmo se a largura total das divs exceder a largura do contêiner */
    margin-bottom: 24px;
    margin-right: 20px;
    white-space: nowrap; /* Evita que o conteúdo dentro da div seja quebrado para a próxima linha */
}

.imgCard {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: relative; /* Important: Relatively position the image */
}

.imgCard,
.overlay {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute; /* Para posicioná-los no mesmo lugar */
    top: 0;
    left: 0;
}

.overlay {
    background-size: cover;
    filter: blur(5px);
    clip-path: inset(100%);
}

.tituloCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    opacity: 0;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
    cursor: pointer;
    font-size: 80%;
    white-space: normal;
    overflow: hidden;
    max-width: 60ch;
    width: 90%;
    text-overflow: ellipsis;
    color: var(--branco);
}

.cardLivro:hover .tituloCard {
    animation-name: tituloCard;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes tituloCard {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cardLivro:hover .imgCard {
    animation-name: imgCard;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes imgCard {
    to {
        filter: Blur(3.33px) brightness(50%);
    }
}

/* Responsividade */

@media screen and (max-width: 1100px), screen and (max-height: 900px) {
    .cardLivro {
        width: 120px;
        height: 180px;
    }
}
</style>
