<style>
body {
    margin: 0;
    padding: 0;
    transition: margin 0.3s ease-in-out; /* Adicionando uma transição para suavizar o efeito */
}

header {
    /*opacity: 0.2; *//* temporário */
    background: var(--cor1Escuro);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

header h1 {
    margin: 0;
}

.bodyHeader {
    min-height: 75px;
    height: 8vh;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    height: 8vh;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.imgLogo {
    width: auto;
    height: 100%;
    flex-shrink: 0;
    cursor: pointer;
}

.btns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.btnPub, .btnLog { 
    margin: auto 0;
    display: inline-flex;
    height: 50px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 25px; 
    border: none;
    background: var(--cor1);
    cursor: pointer; 
    outline: none; 
}

.btnSide {
    margin: auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--cor1Escuro);
    width: 40px;
    height: 40px;
	border-radius: 10px;
}

.btnPub:hover, .btnLog:hover {
    background-color: var(--cor1Escuro);
    color: var(--cor1);
    outline: 2.5px solid var(--cor1);
    box-shadow: 0 0 10px var(--cor1);
}

.btnSide:hover {
	outline: 2.5px solid var(--cor1);
    box-shadow: 0 0 10px var(--cor1);
}

.lblSeguidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    overflow: hidden;
    color: var(--cor4Escuro);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Arimo;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.aSeguidos {
    display: flex;
    gap: 10px;
}

.SpanUserSeguidos {
    vertical-align: middle;
}

.imgUserSeguido {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 250px;
    border: 1px solid var(--cinzaClaro);
}

.sidebar {
    width: 0;
    height: 100%;
    background-color: var(--cor3);
    overflow-x: hidden;
    transition: 0.3s;
    position: fixed;
    top: 80px;
    right: 0;
    z-index: 1;
    padding-top: 60px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.li1 {
    padding: 10px;
    border-top: 4px solid var(--cor3Escuro);
}

.sidebar a {
    text-decoration: none;
	color: 4px solid var(--cor3Escuro);
}

@media screen and (max-width:800px) {
    .bodyHeader {
        min-height: 100px;
        height: 10vh;
    }
    
    .header-content {
        flex-direction: column;
        gap: 10px;
        min-height: 100px;
        height: 10vh;
    }
    
    .imgLogo {
        width: auto;
        height: 50%;
        flex-shrink: 0;
        cursor: pointer;
    }
    
    .btnLog, .btnPub {
        height: 40px;
    }
    
    .btnSide {
        width: 40px;
        height: 40px;
    }
    
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 250px;
    }

    main {
        width: 100%;
    }
}

</style>
