<style>

.barraPesquisaCategorias {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.barraPesquisaAjax {
    align-self: center;
    width: 80%;
}

.barraPesquisa {
    display: flex;
    justify-content: center;
}

.txtBarraPesquisa {
    padding: 10px 20px;
    background: var(--cinzaMaisClaro);
    border-radius: 10px 0px 0px 10px; 
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    width: 100%;
    border: none;
	
}

.btnBarraPesquisa {
   
    padding: 10px;
    background: var(--cinzaMaisClaro); 
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;
    right: 20px;
    border: none;

}

.txtBarraPesquisa:focus {
    border: none;
    outline: 2.5px solid var(--cor1);
    box-shadow: 0 0 10px var(--cor1);
    transition: 0.1s;
}

.barraPesquisa:focus-within > .btnBarraPesquisa {
    background: var(--cor1);
    outline: 2.5px solid var(--cor1);
    transition: 0.1s;
}

.iconePesquisar {
    fill: var(--cor4Escuro);
}

.divCategorias {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
	width: 100%;
    align-self: stretch;
    white-space: nowrap;
    overflow-x: auto;
    padding: 0 0 10px 0;
    border-color: var(--cor4Escuro);
}

.lblNomeCategoria {
    width: 80px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--branco);
    display: flex;
    justify-content: center;
    overflow: hidden;
    color: var(--cor4Escuro);
	align-items: center;
    text-align: center;
    text-overflow: ellipsis;
	white-space: normal;
    font-family: Armata;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border: 2px solid;
    border-color: var(--cor4Escuro);
}

.lblNomeCategoria.filled {
    background: var(--cor4Escuro); /* Cor de fundo preenchida */
    color: var(--branco); /* Cor do texto quando preenchido */
}

.lblNomeCategoria:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .barraPesquisaAjax {
        width: 100%;
    }
}
</style>
