<style>
@font-face {
	font-family: 'Armata';
	src: url('../Fontes/Armata/Armata-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Arimo';
	src: url('../Fontes/Arimo/Arimo-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Angkor';
	src: url('../Fontes/Angkor/Angkor-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Libre Baskerville';
	src: url('../Fontes/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/*Fonte padrão*/
* {
	font-family: 'Arimo';
}

.body {
    src: url('../Fontes/Armata.zip') format('truetype');
    src: url('../Fontes/Arimo.zip') format('truetype');
}
.tituloCard {
    font-family: 'Armata';
}

.tituloPagina {
	font-family: 'Armata';
}
</style>