.lblInsc
{
    color: black;
    font-size: 48px;
    font-family: Armata;
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word
	text-overflow: ellipsis;
}

.containerObras {
	display: flex;
}

.listaDeCards {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}