<style>
	@keyframes blurFade {
		0% {
			filter: blur(0) brightness(100%);
		}
		100% {
			filter: blur(5px) brightness(50%);
		}
	}
	body
	{
		overflow-x: hidden;
		text-overflow: ellipsis;
	}

	#popup-container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
		z-index: 2; /* Coloca o container acima dos outros elementos */
	}

	#popup {
		background-color: var(--branco);
		padding: 20px;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		border-radius: 25px;
		width: 300px;
	}
		/*ChamadoPorBotao popup*/
	.popup-containerChamadoPorBotao {
		display: none; /* Inicialmente oculto */
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
		justify-content: center;
		align-items: center;
		z-index: 3; /* Coloca o container acima dos outros elementos */
	}

	.popupChamadoPorBotao {
		display: flex;
		flex-direction: column;
		gap: 10px;
		background-color: var(--branco);
		padding: 20px;
		border-radius: 25px;
		width: 300px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
		.cabecalhoPopup
		{
			display: flex;
            align-items: center;
		}
		
		.botoes {
			display: flex;
			gap: 10px;
		}
		
		.btnAlterarPopUp
		{
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			background: var(--azulGradiente);
			border: none;
			color: var(--branco);
			width: 100%;
			height: 40px;
			border-radius: 25px;
		}
		
		.btnAlterarPopUp:hover
		{
			background: var(--azulEscuroGradiente);
		}
		
		.btnAlterarPopUp input[type="file"] {
            display: none;
        }
		
		.btnExcluirPopUp
		{
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			background: var(--vermelhoGradiente);
			border: none;
			color: var(--branco);
			width: 100%;
			height: 40px;
			border-radius: 25px;
		}
		
		.btnExcluirPopUp:hover
		{
			background: var(--vermelhoEscuroGradiente);
		}
		
		.btnCancelarPopUp
		{
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			background: none;
			border: none;
			color: var(--cor4Escuro);
			width: 100%;
			height: 40px;
			border-radius: 25px;
		}
		
		.btnCancelarPopUp:hover
		{
			background: var(--cinzaMaisClaro);
		}
		
		.h2CarregandoImgPerfil
		{
			margin-bottom: 20px;
			margin-right: 25px;
		}
		
		.gifCarregandoImgPerfil
		{
			width: 15%;
			margin-top: -10px;
			margin: 0;
		}
		
		.fotoPerfilEdit
		{
			display: flex;
			flex-direction: column;
			justify-content: left;
		}
		#popup-containerImgPerfilEdit
		{
			z-index: 1;
		}
		#popup-containerExcluirImgPerfil
		{
			z-index: 2;
		}
		.btnSeguir{
            width: 180px; 
            height: 60px; 
            padding-left: 20px;
            padding-right: 20px; 
            border-radius: 25px; 
            overflow: hidden; 
            border: 2px var(--cor4Escuro) solid; 
            justify-content: center; 
            align-items: center; 
            gap: 10px; 
            display: inline-flex;
            color: var(--cor4Escuro);
            font-size: 20px;
            font-family: Armata;
            font-weight: 400;
            text-transform: uppercase;
            word-wrap: break-word;
			background-color: var(--branco);
        }
		.btnDeixarDeSeguir{
            width: 180px; 
            height: 60px; 
            padding-left: 20px; 
            padding-right: 20px; 
            border-radius: 25px; 
            overflow: hidden; 
            border: 2px var(--cor4Escuro) solid; 
            justify-content: center; 
            align-items: center; 
            gap: 10px; 
            display: inline-flex;
            color: var(--branco);
            font-size: 20px;
            font-family: Armata;
            font-weight: 400;
            text-transform: uppercase;
            word-wrap: break-word;
			background-color: var(--cor4Escuro);
        }
		
		.dropdown {
			display: inline-block;
			align-content: center;
		}
		
		.btnConfig {
			background: none;
			border: none;
		}
		
		.dropdownOpcoes {
			display: none;
			flex-direction: column;
			position: absolute;
			background-color: var(--cor3);
			min-width: 300px;
			box-shadow: var(--sombra);
			z-index: 1;
		}
		
		.dropdownOpcoes button,
		.dropdownOpcoes div {
			color: var(--cor4Escuro);
			padding: 12px 16px;
			text-decoration: none;
			display: flex;
		}

		.dropdownOpcoes button:hover,
		.dropdownOpcoes div:hover {
			background-color: var(--cor3Escuro);
		}
		
		.btnOpcao {
			background-color: transparent;
			border: none;
			width: 100%;
			gap: 10px;
		}

		.btnOpcao:hover {
			cursor:pointer;
		}

.containerObras {
	display: flex;
}

.listaDeCards {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.divDivisor {
  display: flex;
  flex-wrap: nowrap;
}


.base-image, .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image-container{
    position: relative;
	width: 100%;
    height: max-content;
    display: flex;
    justify-content: center; /* Opcional: centraliza horizontalmente */
    align-items: center; /* Opcional: centraliza verticalmente */
    overflow: hidden; /* Garantir que nada exceda a borda do contêiner */
}

.image-container {
    position: relative;
    width: 100%;
    height: 300px; /* Altura visível do banner */
    overflow: hidden; /* Esconde o excesso de conteúdo */
}

.banner-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha o conteúdo ao topo */
}

.Banner {
    width: 100%;
    height: auto; /* Mantém a proporção da largura */
    position: relative;
    top: -140px; /* Ajuste manual para cortar parte superior, se necessário */
    object-fit: cover; /* Garante o preenchimento completo sem distorcer */
	z-index: 1;

}

header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 5;
		background: rgba(0, 0, 0, 0.7); /* Transparência */
		height: 100px; /* Ajuste para a altura do header */
		width: 100%;
	}

.usuario {
	display: flex;
	gap: 20px;
	align-items: center;
}

.infoUsuario {
	width: 80%;
}

.imgPerfil {
	position: absolute;
    will-change: transform; 
    z-index: 2; 
    margin-top: -50px; 
    left: 70px; 
    transform: translate3d(0, -25%, 0); 
    border: 3px solid var(--branco); 
    box-shadow: var(--sombra);
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    object-fit: cover;
	background-color: var(--cinza);
}

.nomeStats {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-left: 300px;
}

.apelidoNome {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	gap: 5px;
}

.apelidoUsuario
{
    color: var(--cor4Escuro);
    font-family: Armata;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nomeUsuario
{
    color: var(--cor4Escuro);
    font-family: Armata;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.NumInscritos
{
    font-family: Armata;
}

.NumObras
{
    font-family: Armata;
}

.lblObras
{
    color: var(--cor4Escuro);
    font-size: 48px;
    font-family: Armata;
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word;
 
}

.statsUser {
    display: flex;
	gap: 50px;
}

.botoesUsuario {
	display: flex;
	gap: 10px;
}

.containerFlex
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filtro
{
    width: 60px;
    height: 40px;
    padding-left: 20px; 
    padding-right: 20px; 
    background: var(--cor4Escuro); 
    border-radius: 10px; 
    justify-content: center; 
    align-items: center; 
    gap: 13px; 
    display: inline-flex;
    color: var(--branco);
    border: none;
    cursor: pointer; 
    outline: none; 
}
.botao
{
	font-size: 15px;
}

/*Dropbox*/
   
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: var(--branco);
            min-width: 160px;
            box-shadow: var(--sombra);
            z-index: 1;
        }

        .dropdown-content a {
            color: var(--cor4Escuro);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: var(--cinzaMaisClaro);
        }
/*Responsividade*/
@keyframes blurFade {
    0% {
        filter: blur(0) brightness(100%);
    }
    100% {
        filter: blur(5px) brightness(50%);
    }
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header {
    position: fixed; /* Fixado no topo */
    z-index: 5;
    background-color: var(--headerColor);
    width: 100%;
    top: 0;
}

.Banner {
    width: 100%;
    height: auto; /* Ajusta a altura automaticamente para não cortar */
    position: relative;
    z-index: 1;
    margin-top: 60px; /* O banner começa logo abaixo do header */
}



/* Alinhamento da foto de perfil e nome de usuário */
.userInfoContainer {
    display: flex;
    align-items: center;
    margin-left: 300px;
    margin-top: 40px;
    gap: 20px; /* Espaçamento entre a imagem e o nome */
}

.imgPerfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--branco);
    background-color: var(--cinza);
}

.btnSeguir, .btnDeixarDeSeguir {
    width: 180px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Armata;
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word;
}

.btnSeguir {
    background-color: var(--branco);
    color: var(--cor4Escuro);
    border: 2px solid var(--cor4Escuro);
}

.btnDeixarDeSeguir {
    background-color: var(--cor4Escuro);
    color: var(--branco);
    border: 2px solid var(--cor4Escuro);
}

@media (max-width: 768px) {
    .btnSeguir, .btnDeixarDeSeguir {
        left: auto; /* Remove a posição esquerda automática */
        margin: 0 auto; /* Centraliza o botão */
        display: block; /* Garante que o botão se comporte como um bloco para centralização */
        width: 180px; /* Defina uma largura fixa, se necessário */
		top: auto;
    }
	.nomeStats {
		margin-left: 20px;
		text-align: center;
	}
	
	.usuario {
		flex-direction: column;
	}
	
	.apelidoNome {
		padding-top: 40px;
	}
	
    .nomeUsuario {
        font-size: 1.5rem;
    }

    .imgPerfil {
        width: 100px;
        height: 100px;
		left: calc(50% - (100px / 2));
    }

    .userInfoContainer {
        flex-direction: column; /* Coloca a imagem e o nome um abaixo do outro em telas menores */
    }

    .statsUser {
        flex-direction: column;
		gap: 5px;
    }

    .btnAlt {
        margin-left: 20px;
        margin-top: 10px;
    }
	
	.lblObras {
		font-size: 24px;
		margin-top: 20px;
	}
}
/* Ajustes para telas menores */
@media (max-width: 768px) {
    .image-container {
        height: 400px; /* Reduz a altura do container */
    }

    .Banner {
        top: -100px; /* Ajuste o corte superior para telas menores */
    }
}

@media (max-width: 480px) {
    .image-container {
        height: 150px; /* Altura menor para telas muito pequenas */
    }

    .Banner {
        top: -50px; /* Ajuste mais suave do corte superior */
    }
}
</style>