<style>

@keyframes Rotacao3d {
	from {transform: rotateX(180deg);}
	to {transform: rotateX(0deg);}
}

#popup-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
	z-index: 2; /* Coloca o container acima dos outros elementos */
}

#popup {
	background-color: var(--branco);
	padding: 20px;
	box-shadow: var(--sombra);
	border-radius: 25px;
	width: 300px;
}

.dropdown {
  display: inline-block;
  align-content: center;
}

.btnOpcoes {
	background-color: transparent;
	border: none;
}

.btnOpcoes:hover {
	.iconeOpcoes {
		fill: var(--cor4Escuro);
	}
}

.dropdownOpcoes {
	display: none;
	flex-direction: column;
	position: absolute;
	background-color: var(--cor3);
	min-width: 300px;
	box-shadow: var(--sombra);
	z-index: 1;
}

.dropdownOpcoes button,
.dropdownOpcoes div {
  color: var(--cor4Escuro);
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}

.dropdownOpcoes button:hover,
.dropdownOpcoes div:hover {
	background-color: var(--cor3Escuro);
}

.dropdownOpcoes input[type="file"] {
    display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Opcional: Estilo para o botão quando passa o mouse */
.dropdown:hover .dropbtn {
  background-color: var(--verde);
}

.btnAlterarCapa {
	background-color: transparent;
	border: none;
	width: 100%;
	gap: 10px;
}

.btnAlterarCapa:hover {
	cursor:pointer;
	.iconeReplace {
		fill: var(--cor4Escuro);
	}
}

.btnOpcao {
	background-color: transparent;
	border: none;
	width: 100%;
	gap: 10px;
}

.btnOpcao:hover {
	cursor:pointer;
	.iconeEditar {
		fill: var(--cor4Escuro);
	}
	.iconeReplace {
		fill: var(--cor4Escuro);
	}
	.iconeRemover {
		fill: var(--cor4Escuro);
	}
}

.gifCarregandoImgPerfil {
	width: 15%;
	margin-top: -10px;
	margin: 0;
}
.cabecalhoPopup {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.tituloPopup {
	width: 100%;
}

.descricaoPopup {
	width: 100%;
}

.opcoesPopUp {
	display: flex;
	justify-content: end;
	gap: 20px;
}

.btnOkPopUp {
	cursor: pointer;
	background: var(--verdeGradiente);
	border: none;
	color: var(--branco);
	width: 70px;
	height: 40px;
	border-radius: 25px;
}

.btnBackPopUp {
	background-color: transparent;
	border: none;
	color: var(--vermelho);
}

.btnOkPopUp:hover {
	background: var(--verdeEscuroGradiente);
}
		
				/*ChamadoPorBotao popup*/
.popup-containerChamadoPorBotao {
	display: none; /* Inicialmente oculto */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
	justify-content: center;
	align-items: center;
	z-index: 3; /* Coloca o container acima dos outros elementos */
}

.popupChamadoPorBotao {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: var(--branco);
	padding: 20px;
	box-shadow: var(--sombra);
	border-radius: 25px;
	position: absolute;
	width: min-content;
	min-width: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.conteudo {
	display: flex;
	padding: 50px 0px;
	width: 80%;
	flex-direction: column;
	align-items: center;
	gap: 100px;
	flex: 1 0 0;
	min-height: 100%;
	margin: 0 auto;
}

.conteudo:after {
  content: "";
  display: block;
}

.containerLivro {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 25px;
	width: 80%;
}

.opcoesLivro {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 50px;
	flex: 1 0 0;
}

.btnSeguir{
	width: 120px; 
	height: 40px; 
	padding-left: 20px; 
	padding-right: 20px; 
	border-radius: 25px; 
	overflow: hidden; 
	border: 2px var(--cor4Escuro) solid; 
	justify-content: center; 
	align-items: center; 
	gap: 10px; 
	display: inline-flex;
	color: #1F4152;
	font-size: 12px;
	font-family: Armata;
	font-weight: 400;
	text-transform: uppercase;
	word-wrap: break-word;
	position: relative;
	background-color: var(--branco);
}
.btnDeixarDeSeguir{
	width: 120px; 
	height: 40px; 
	padding-left: 20px; 
	padding-right: 20px; 
	border-radius: 25px; 
	overflow: hidden; 
	border: 2px var(--cor4Escuro) solid; 
	justify-content: center; 
	align-items: center; 
	gap: 10px; 
	display: inline-flex;
	color: var(--branco);
	font-size: 12px;
	font-family: Armata;
	font-weight: 400;
	text-transform: uppercase;
	word-wrap: break-word;
	position: relative;
	background-color: var(--cor4Escuro);
}

.infoLivro {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
}

.tituloEditar {
	display: flex;
	gap: 10px;
}

.botoesLivro {
	display: flex;
	align-items: center;
	gap: 20px;
	align-self: stretch;
}

.btnContinuarLeitura {
	color: var(--branco);
	font-family: Armata;
	font-size: 20px;
	text-transform: uppercase;
	display: flex;
	height: 50px;
	padding: 20px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 25px;
	background: var(--azulEscuroGradiente);
	border: none;
}

.btnContinuarLeitura:hover {
	background: var(--azulGradiente);
}

/*Botão de favoritar*/
.btnFavorito {
	--corSVG: var(--amarelo);
	
	color: var(--amarelo);
	font-family: Armata;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	display: flex;
	width: 160px;
	height: 40px;
	padding: 0px 10px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	border-radius: 10px;
	background: var(--branco);
	border: 2px solid var(--amarelo);
	transition: all 200ms ease-out;
}

.btnFavorito:hover {
	--corSVG: var(--branco);
	
	color: var(--branco);
	background-image: var(--amareloGradiente);
	cursor: pointer;
	transform: scale(1.05);
	background-position-x: 100%;
	border: none;
}

.btnFavoritado {
	--corSVG: var(--branco);
	
	color: var(--branco);
	font-family: Armata;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	display: flex;
	width: 160px;
	height: 40px;
	padding: 0px 10px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	border-radius: 10px;
	background-image: var(--amareloGradiente);
	background-size: 200% 100%;
	border: none;
	transition: all 200ms ease-out;
}

.btnFavoritado:hover {
	cursor: pointer;
	transform: scale(1.05);
	background-position-x: 100%;
}

/*Botão de curtir*/

.metricaAvaliacaoExterna
{
	width: 200px;
	height: 15px;
	background: var(--cinzaMaisClaro); //Pode ser alterado pelo Javascript
	margin-bottom: 10px;
}
.metricaAvaliacaoInterna
{
	background-image: var(--verdeGradiente);
	background-size: 200% 100%;
	height: 100%;
	width: 0%; //Pode ser alterado pelo Javascript
}

.avaliacao {
	display: flex;
	width: 200px;
	flex-direction: column;
	align-items: flex-start;
}	

.botoesAvaliacao {
	display: flex;
	width: 200px;
	align-items: flex-start;
}

.btnCurtir  {
	display: flex;
	height: 35px;
	padding: 5px;
	align-items: center;
	gap: 5px;
	flex: 1 0 0;
	
	background-color: transparent;
	border: none;
	
	label {
		display: flex;
		width: 65px;
		height: 10px;
		flex-direction: column;
		justify-content: center;
		
		overflow: hidden;
		color: var(--cor4Escuro);
		text-overflow: ellipsis;
		white-space: nowrap;
		font-family: Arimo;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
	}
}

.btnCurtir:hover {
	background-color: var(--cinzaMaisClaro);
}

.btnNaoCurtir {
	display: flex;
	height: 35px;
	padding: 5px;
	align-items: center;
	gap: 5px;
	flex: 1 0 0;
	
	background-color: transparent;
	border: none;
	
	label {
		display: flex;
		width: 65px;
		height: 10px;
		flex-direction: column;
		justify-content: center;
		
		overflow: hidden;
		color: var(--cor4Escuro);
		text-align: right;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-family: Arimo;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
	}
}

.btnNaoCurtir:hover {
	background-color: var(--cinzaMaisClaro);
}

.lblTituloLivro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: stretch;
	overflow: hidden;
	color: var(--cor4Escuro);
	text-overflow: ellipsis;
	whitespace: nowrap;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.lblAutorLivro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: stretch;
	overflow: hidden;
	color: var(--cor4Escuro);
	text-overflow: ellipsis;
	whitespace: nowrap;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	
	display: inline-block;
}

.fotoPerfilDescricao {
	width: 30px;
	height: 30px;
	flex-shrink: 0;
	border-radius: 250px;
	border: 1px solid var(--cinzaClaro);
}

.foto-nome img {
    vertical-align: middle;
}

.lblDescricaoLivro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: stretch;
	overflow: hidden;
	color: var(--cor4Escuro);
	text-overflow: ellipsis;
	whitespace: nowrap;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.lblViews
{
	border-top: 1px solid var(--cor4Escuro);
}

.lblAutorLivro:hover
{
cursor: pointer;
}

.imgCapa {
	width: 100%;
	height: 100%;
}

.divCapa {
	width: 400px;
	height: 600px;
	flex: none;
	border: 1px solid var(--cinzaClaro);
}

.divCategorias {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	gap: 10px;
	align-self: stretch;
	flex-wrap: wrap;
}

.lblNomeCategoria {
	width: 62.5px;
	height: 25px;
	flex-shrink: 0;
	border-radius: 5px;
	background: var(--cor4Escuro);
	display: flex;
	width: 62.5px;
	height: 25px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	overflow: hidden;
	color: var(--branco);
	text-align: center;
	text-overflow: ellipsis;
	whitespace: nowrap;
	font-family: Armata;
	font-size: 8px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}

/*Capítulos*/

.divCapitulos {
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 0 0;
	align-self: stretch;
	border-radius: 50px;
}
.headerCaps {
	display: flex;
	height: 100px;
	padding: 0px 50px;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	align-self: stretch;
	border-radius: 50px 50px 0px 0px;
	background: var(--cor1Escuro);
}

.lblCapsTituloHeader {
	display: flex;
	height: 40px;
	flex-direction: column;
	justify-content: center;
	flex: 1 0 0;
	overflow: hidden;
	color: var(--branco);
	text-overflow: ellipsis;
	whitespace: nowrap;
	font-family: Armata;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}

.divCapCorpo {
	align-self: stretch;
}

.capitulo {
	display: flex;
	height: 55px;
	padding: 0px 50px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	align-self: stretch;
	border-top: 1px solid var(--cor3Escuro);
	border-bottom: 1px solid var(--cor3Escuro);
	background: var(--cor3);
}

.capitulo:hover {
	background: var(--cor3Escuro);
	color: var(--branco);
	border: none;
}

.nomeCapLink {
	text-decoration: none;
}

.nomeCap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 0 0;
	align-self: stretch;
	overflow: hidden;
	color: var(--cor4Escuro);
	text-overflow: ellipsis;
	whitespace: nowrap;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	cursor: pointer;
}

/*Fim de capítulos*/

.sessaoComentarios {
	display: flex;
	height: 40.9375rem;
	flex-direction: column;
	align-items: center;
	align-self: stretch;
}

.imgSemComents
{
	width: 30%;
}
	
.tituloComents {
	display: flex;
	height: 6.25rem;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	align-self: stretch;
	overflow: hidden;
	color: var(--cor4Escuro);
	text-overflow: ellipsis;
	whitespace: nowrap;
	font-family: Armata;
	font-size: 2rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}

.comentCorpo {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	align-self: stretch;
}

.comentar {
	display: flex;
	align-items: flex-start;
	gap: 0.625rem;
	align-self: stretch;
}

.comentarios {
	display: flex;
	height: 500px;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	border-radius: 10px;
}
.corpoComent
{
	border-bottom: 1px solid var(--cinzaClaro);
}
.txtComentario {
	display: flex;
	border-radius: 0.625rem;
	background: var(--cinzaMaisClaro);
	border: none;
}

.btnEnviar {
	--corSVG: var(--branco);
	
	background-image: var(--corGradiente);
	background-size: 200% 100%;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 0.625rem;
	transition: all 200ms ease-out;
}

.btnEnviar:hover {
	cursor: pointer;
	transform: scale(1.05);
	background-position-x: 100%;
}

.comentario {
	display: flex;
	padding: 0.625rem;
	align-items: flex-start;
	gap: 0.625rem;
	align-self: stretch;
	background: var(--branco);
}

.fotoPerfilCometario {
	width: 50px;
	height: 50px;
	flex-shrink: 0;
	border-radius: 250px;
	border: 1px solid var(--cinzaClaro);
}

.comentario div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.625rem;
	flex: 1 0 0;
}
	
.comentario div div {
	display: flex;
	width: 12.5rem;
	flex-direction: column;
	align-items: flex-start;
}

.nomeUsuario {
	display: flex;
	height: 1.25rem;
	flex-direction: column;
	justify-content: center;
	align-self: stretch;
	overflow: hidden;
	color: var(--cor4Escuro);
	text-overflow: ellipsis;
	whitespace: nowrap;
	font-family: Arimo;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-decoration: none;
}

.textoComentario {
	align-self: stretch;
	color: var(--cor4Escuro);
	font-family: Arimo;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.btnExcluir {
	background: none;
	border: none;
}

.btnExcluir .excluirHover,
.btnExcluir:hover .excluir {
	display: none;
}

.btnExcluir .excluir,
.btnExcluir:hover .excluirHover {
	display: inline;
}

@media screen and (max-width:1100px) and (min-height: 500px)
{
	.containerLivro
	{
		flex-direction: column;
	}
	
	.divCapa {
		width: 300px;
		height: 450px;
		margin: 0 auto;
	}
}

@media screen and (max-width:900px)
{
	.conteudo {
		width: 90%;
	}
	
	.divCapa {
		width: 200px;
		height: 300px;
	}
	
	.lblTituloLivro {
		font-size: 36px;
	}
	
	.lblAutorLivro {
		font-size: 24px;
	}
}
</style>