/* css/balacowork.css */

:root {
	/*Cor padrão de SVG*/
	--corSVG: var(--cor4Escuro);
	
	/*Cor padrão do elemento*/
	--cor: var(--cinzaClaro);
	--corClaro: var(--cinzaMaisClaro);
	--corEscuro: var(--cinza);
	--corGradiente: linear-gradient(to right, var(--cinzaMaisClaro), var(--cinzaClaro), var(--cinza));
	
    /*Cores padrões*/
    --cor1: #38B66B; --cor1Claro: #64D75B; --cor1Escuro: #085442; /*verde*/ /*Cor base 1*/
    --cor2: #DA4A5F; --cor2Claro: #FF694B; --cor2Escuro: #900E3C; /*vermelho*/ /*Cor base 2*/
    --cor3: #F5EBD3; --cor3Claro: #FFFFFF; --cor3Escuro: #F0DEBA; /*bege*/ /*Cor clara*/
    --cor4: #43BBBB; --cor4Claro: #A8E6DA; --cor4Escuro: #21465D; /*azul*/ /*Cor escura*/

    /*Cores de interação*/
    --vermelho: #DA4A5F; --vermelhoClaro: #FF694B; --vermelhoEscuro: #900E3C;
    --amarelo: #F19F27; --amareloClaro: #F9D745; --amareloEscuro: #E85F28;
    --lima: #A2B117; --limaClaro: #CFCF17; --limaEscuro: #3F6F13;
    --verde: #38B66B; --verdeClaro: #64D75B; --verdeEscuro: #085442;
    --azul: #43BBBB; --azulClaro: #A8E6DA; --azulEscuro: #21465D;
    --roxo: #B969C9; --roxoClaro: #E597CF; --roxoEscuro: #6F2A7A;

    /*Gradientes*/
    --vermelhoGradiente: linear-gradient(to right, var(--vermelhoClaro), var(--vermelho), var(--vermelhoEscuro));
    --amareloGradiente: linear-gradient(to right, var(--amareloClaro), var(--amarelo), var(--amareloEscuro));
    --limaGradiente: linear-gradient(to right, var(--limaClaro), var(--lima), var(--limaEscuro));
    --verdeGradiente: linear-gradient(to right, var(--verdeClaro), var(--verde), var(--verdeEscuro));
    --azulGradiente: linear-gradient(to right, var(--azulClaro), var(--azul), var(--azulEscuro));
    --roxoGradiente: linear-gradient(to right, var(--roxoClaro), var(--roxo), var(--roxoEscuro));

    /*Escala de cinza*/
    --branco: #FFFFFF;			/* ʌ Mais claro  */
    --cinzaMaisClaro: #CFC8B5;	/* |             */
    --cinzaClaro: #A89F8E;		/* |             */
    --cinza: #857D71;			/* |             */
    --cinzaEscuro: #635D55;		/* |             */
    --cinzaMaisEscuro: #3F3A35;	/* v Mais Escuro */

    /*sombra*/
    --sombra: 4px 4px 4px rgba(80, 20, 50, 0.5);
}

.conteudo {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border-radius: 20px;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
	border: 1px solid var(--azulClaro);
}

*::-webkit-scrollbar-thumb {
	background-size: 200% 100%;
	background-image: var(--azulGradiente);
    border-radius: 20px;
	transition: all 200ms ease-out;
}

*::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 10px var(--azul);
	cursor: pointer;
}

body {
	min-height: 100vh;
}

/* Estilos para botões */
.vermelho {
	--cor: var(--vermelho);
	--corClaro: var(--vermelhoClaro);
	--corEscuro: var(--vermelhoEscuro);
	--corGradiente: var(--vermelhoGradiente);
}

.amarelo {
	--cor: var(--amarelo);
	--corClaro: var(--amareloClaro);
	--corEscuro: var(--amareloEscuro);
	--corGradiente: var(--amareloGradiente);
}

.lima {
	--cor: var(--lima);
	--corClaro: var(--limaClaro);
	--corEscuro: var(--limaEscuro);
	--corGradiente: var(--limaGradiente);
}

.verde {
	--cor: var(--verde);
	--corClaro: var(--verdeClaro);
	--corEscuro: var(--verdeEscuro);
	--corGradiente: var(--verdeGradiente);
}

.azul {
	--cor: var(--azul);
	--corClaro: var(--azulClaro);
	--corEscuro: var(--azulEscuro);
	--corGradiente: var(--azulGradiente);
}

.roxo {
	--cor: var(--roxo);
	--corClaro: var(--roxoClaro);
	--corEscuro: var(--roxoEscuro);
	--corGradiente: var(--roxoGradiente);
}

.botao {
	--corSVG: var(--branco);
	
	background-image: var(--corGradiente);
	background-size: 200% 100%;
	border: none;
	color: var(--branco);
	font-family: Armata;
	font-size: 20px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	padding: 20px;
	gap: 10px;
	border-radius: 25px;
	transition: all 200ms ease-out;
}

.botao:hover {
	cursor: pointer;
	transform: scale(1.05);
	background-position-x: 100%;
}

.secundario {
	background: none;
	border: none;
	color: var(--corEscuro);
}

.secundario:hover {
	background: none;
	border: none;
	color: var(--cor);
}

/*Fontes*/
.body {
    src: url('../Fontes/Armata.zip') format('truetype');
    src: url('../Fontes/Arimo.zip') format('truetype');
}
.tituloCard {
    font-family: 'Armata';
}

.tituloPagina {
	font-family: 'Armata';
}

.texto {
	font-family: 'Arimo';

/* Estilos para títulos */
.titulo {
  font-family: 'Armata', sans-serif;
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

/* Estilos para subtítulos */
.subtitulo {
  font-family: 'Armata', sans-serif;
  font-size: 1.5em;
  color: #555;
  margin-bottom: 15px;
}

/* Estilos para parágrafos */
.paragrafo {
  font-family: 'Arimo', sans-serif;
  font-size: 1em;
  color: #666666;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Estilos para links */
.link {
  color: #1a73e8;
  text-decoration: none;
}

.btnlink-rosa{
	background-color: transparent;
    border: none;
    margin-left: 90px;
    color: #ff0d6a;
}

.link:hover {
  text-decoration: underline;
}

/* Estilos para listas */
.lista {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.lista-item {
  margin-bottom: 10px;
}

/* Estilos para imagens */
.imagem {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Estilos para labels */
.label {
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.label-login {
	align-self: stretch;
	color: #1F4152;
	text-align: center;
	font-family: Libre Baskerville;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

/* Estilos para caixas de texto */
.textbox {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.textbox-login {
	border-top:none;
	border-left: none;
	border-right: none;
	background-color: #E7E1D5;
	border-bottom: 2px solid #1F4152;
}




.botao-secundario {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botao-secundario:hover {
  background-color: #007bb5;
}

.botao-verde{
    display: inline-flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 25px; 
    border: none;
    background: #6EBBB0;
    cursor: pointer; 
    outline: none; 
}
.botao-verdeCla:hover{
	background-color: #16463F;
    color: #6EBBB0;
	outline: 2.5px solid #6EBBB0;
	box-shadow: 0 0 10px #6EBBB0;

}
.botao-verdeEsc{
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 5px;
	color: #D6CCB8;
	background: #1F4152;
	margin-right: 10px;
	border: none;
}
.botao-transparente{
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	font-family: Libre Baskerville;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border: none;
	color: #1F4152;
	background-color: #E7E1D5;
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}
/*Categoria*/
.divCategorias::-webkit-scrollbar-thumb {
  background-color: #6EBBB0;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  height: 10px;
}

.lblNomeCategoria {
	width: 62.5px;
	height: 35px;
	flex-shrink: 0;
	border-radius: 5px;
	background: #000;
	display: flex;
	width: 62.5px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	overflow: hidden;
	color: #FFF;
	text-align: center;
	text-overflow: ellipsis;
	whitespace: nowrap;
	font-family: Armata;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}
.lblNomeCategoria:hover
{
	cursor: pointer;
}
/* Estilos para formulários */
.formulario {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

/* Estilos para tabelas */
.tabela {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tabela th, .tabela td {
  border: 1px solid #ddd;
  padding: 8px;
}

.tabela th {
  background-color: #f2f2f2;
  text-align: left;
}

/* Estilos para rodapé */
.rodape {
  background: #1F4152;
	display: flex;
	height: 150px;
	padding: 50px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-shrink: 0;
}

.rodape a {

  text-decoration: none;
}

.rodape a:hover {
}

/* Estilos para layout e posicionamento */
.m-top-10 {
  margin-top: 10px;
}

.m-bottom-10 {
  margin-bottom: 10px;
}

.m-left-10 {
  margin-left: 10px;
}

.m-right-10 {
  margin-right: 10px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.d-flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/*Card*/
@keyframes blurFade {
    0% {
        filter: blur(0) brightness(100%);
    }
    100% {
        filter: blur(5px) brightness(50%);
    }
}


.cardLivro {
    position: relative;
    flex: 0 0 auto;
    width: 200px;
    height: 300px;
    margin-right: 10px;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden; /* Impede que o texto ultrapasse a div */
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}
.divDivisor {
    flex-shrink: 0;         /* Isso garante que as divs não encolham, mesmo se a largura total das divs exceder a largura do contêiner */
    margin-bottom: 24px;
	margin-right: 20px;
	white-space: nowrap;    /* Evita que o conteúdo dentro da div seja quebrado para a próxima linha */
}
.imgCard
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: relative; /* Important: Relatively position the image */
}

.imgCard, .overlay {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;  // Para posicioná-los no mesmo lugar.
    top: 0;
    left: 0;
}

.overlay {
    background-size: cover;
    filter: blur(5px);
    clip-path: inset(100%);  
}
.tituloCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
	opacity: 0;
	justify-content: center;
	text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
    cursor: pointer;
    font-size: 80%;
    white-space: normal;
    overflow: hidden;
    max-width: 60ch;
    width: 90%;
    text-overflow: ellipsis;
    color: #ffffff;
}

.cardLivro:hover .tituloCard {
	animation-name: tituloCard;
	animation-duration: 0.5s;  
	animation-fill-mode: forwards;
}

/*animações*/

@keyframes tituloCard {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.cardLivro:hover .imgCard {
	animation-name: imgCard;
	animation-duration: 0.5s;  
	animation-fill-mode: forwards;
}

@keyframes imgCard {
	to {
		filter: Blur(3.33px) brightness(50%);
	}
}

/* Classes de responsividade */
.hide-mobile {
  display: none;
}

@media (min-width: 600px) {
  .hide-mobile {
    display: block;
  }
}

.hide-desktop {
  display: block;
}

@media (min-width: 600px) {
  .hide-desktop {
    display: none;
  }
}

.w-100 {
  width: 100%;
}

@media (min-width: 600px) {
  .w-50 {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .w-25 {
    width: 25%;
  }


/* elementos responsivos*/

/*@media screen and (max-width:1100px)
{
	.cardLivro
	{
		width: 160px;
		height: 240px;
	}
}*/

@media screen and (max-width:1100px), screen and (max-height:900px) {
	.cardLivro {
		width: 120px;
		height: 180px;
	}
}